body {
    margin: 0;
    padding: 0;
    color: #484848;
<<<<<<< HEAD
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
=======
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif
}
>>>>>>> db45cc95fb3f6c747221ed00844b6038bebaf19d
